

@using Common.Helper
<div class="modal fade" tabindex="-1" role="dialog" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Detalle producto</h3>
                </div>
                <div class="panel-body">
                    <dl class="dl-horizontal">
                        @*<dt>
                            ID
                        </dt>
                        <dd id  ="id"></dd>*@
                        <dt>
                            Código
                        </dt>
                        <dd id="codigo">
                        </dd>
                        <dt>
                            Código de barra
                        </dt>
                        <dd id = "codigoBarra"></dd>
                        <dt>
                            Nombre genérico
                        </dt>
                        <dd id = "nomGenerico"></dd>
                        <dt>
                            Nombre Comercial
                        </dt>
                        <dd id = "nomComercial"></dd>
                        <dt>
                            Descripción
                        </dt>
                        <dd id = "descripcion"></dd>
                        <dt>
                            Observación
                        </dt>
                        <dd id = "observacion"></dd>
                        <dt>
                            Estado
                        </dt>
                        <dd id = "estado"></dd>
                        <dt>
                            Fecha de registro
                        </dt>
                        <dd id = "fechRegistro"></dd>
                        @*<dt>
                            Fecha modificación
                        </dt>
                        <dd id = "fechaModificacion"></dd>
                        <dt>
                            Fecha eliminación
                        </dt>
                        <dd id = "fechEliminacion"></dd>*@
                        @*<dt>
                            Usuario que modificó
                        </dt>
                        <dd  id = ""></dd>
                        <dt>
                            Usuario que eliminó
                        </dt>
                        <dd></dd>*@
                        <dt>
                            Categoría
                        </dt>
                        <dd>
                        </dd>
                        <dt>
                            Moneda
                        </dt>
                        <dd>
                            @*@Coin.coin.descMoneda (@Coin.coin.simbolo)*@
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>
